<style>
    #agreeResources-error {
        position: absolute;
        top: 50px;
    }

    .radio_member {
        margin-top: 50px !important;
    }

    .titulo-fase {
        padding: 15px;
    }
</style>
<div class="row wrap">
    <div class="col-lg-12">
        <div id='progress'>
            <div id='progress-complete'></div>
        </div>
        <form id="SignupForm" name="SignupForm" action="" method="post" class="form-horizontal"
              onsubmit="return false;">
            <fieldset>
                <h2 class="titulo-fase">Fase 1 - Dados do coordenador</h2>

                <!-- COORDENADOR NOME -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="name">Nome do coordenador</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.coordenador.name"
                               id="name" name="name"
                               type="text"
                               placeholder="Ex. Pedro Lucas Pereira Gomes" class="form-control input-md" required
                               data-rule-required="true"
                               data-msg-required="É necessário preencher o campo Nome do coordenador">
                    </div>
                </div>
                <br>
                <!-- COORDENADOR CPF -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="cpf">CPF</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.coordenador.cpf"
                               id="cpf" name="cpf"
                               type="text"
                               placeholder="Apenas números" class="form-control input-md" required
                               mask='999.999.999.99'
                               data-rule-required="true"
                               data-msg-required="É necessário preencher o campo CPF"
                        >
                    </div>
                </div>
                <br>
                <!-- COORDENADOR ENDEREÇO-->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="address">Endereço completo</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.coordenador.address"
                               id="address" name="address" type="text" placeholder="Ex. Rua Antônio Gomes Silva, nº 415"
                               class="form-control input-md" required
                               data-rule-required="true"
                               data-msg-required="É necessário preencher o campo Endereço completo">
                    </div>
                </div>
                <br>
                <!-- COORDENADOR E-MAIL -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="email">E-mail</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.coordenador.email" id="email" name="email" type="email"
                               placeholder="Ex. pedrolucas@contato.com" class="form-control input-md" required
                               data-rule-required="true"
                               data-msg-required="É necessário preencher o campo E-mail"
                               data-rule-email="true"
                               data-msg-email="Formato de E-mail inválido"
                        >
                    </div>
                </div>
                <br>
                <!-- COORDENADOR TELEFONE -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="phone">Telefone</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.coordenador.phone" id="phone" name="phone" type="text"
                               placeholder="Apenas números" class="form-control input-md" required
                               mask='(99) 9999-9999'
                               data-rule-required="true"
                               data-msg-required="É necessário preencher o campo Telefone"
                        >
                    </div>
                </div>
                <br>
                <!-- COORDENADOR CELULAR -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="mobile">Celular</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.coordenador.mobile" id="mobile" name="mobile" type="text"
                               placeholder="Apenas números" class="form-control input-md" required
                               mask='(99) 9 9999-9999'
                               data-rule-required="true"
                               data-msg-required="É necessário preencher o campo Celular"
                        >
                    </div>
                </div>
                <br>
                <!-- COORDENADOR CARGO NA IES -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="responsible">Cargo na IES</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.coordenador.responsible" id="responsible" name="responsible"
                               type="text" placeholder="Ex. Pedro Lucas Pereira Gomes" class="form-control input-md"
                               required
                               data-rule-required="true"
                               data-msg-required="É necessário preencher o campo Coordenador do Curso">
                    </div>
                </div>
                <br>
                <!-- COORDENADOR CURRICULO LATTES -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="lattes">Currículo Lattes</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.coordenador.lattes" id="lattes" name="lattes" type="text"
                               placeholder="Link" class="form-control input-md" required
                               data-rule-required="true"
                               data-msg-required="É necessário preencher o campo Lattes">
                    </div>
                </div>
                <br>
                <!-- COORDENADOR EXPERIÊNCIA -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="experience">Experiências individuais e conjuntas
                        na área de empreendedorismo.</label>
                    <div class="col-md-6 col-sm-6">
							<textarea ng-model="signupForm.coordenador.experience" maxlength='3000' class="form-control"
                                      id="experience" name="experience" required
                                      data-rule-required="true" rows="5"
                                      data-msg-required="É necessário preencher o campo Experiências individuais e conjuntas na área de empreendedorismo">
                            </textarea>
                        {{signupForm.coordenador.experience|wordcount:false:'experience'}}
                    </div>
                </div>
                <br>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="external_participation">Participação em
                        organizações e envolvimento com redes relacionadas a empreendedorismo e inovação, sejam elas
                        locais ou nacionais.</label>
                    <div class="col-md-6 col-sm-6">
							<textarea ng-model="signupForm.coordenador.external_participation" maxlength='1500'
                                      class="form-control" id="external_participation" name="external_participation"
                                      required rows="5"
                                      data-rule-required="true"
                                      data-msg-required="É necessário preencher o campo Participação em organizações e envolvimento com redes relacionadas a empreendedorismo e inovação, sejam elas locais ou nacionais.">
                            </textarea>
                        {{signupForm.coordenador.external_participation|wordcount:false:'external_participation'}}
                    </div>
                </div>
                <br>
                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="motivation">Motivação para participar do
                        programa.</label>
                    <div class="col-md-6 col-sm-6">
							<textarea ng-model="signupForm.coordenador.motivation" class="form-control" id="motivation"
                                      name="motivation" maxlength='2000' required
                                      data-rule-required="true" rows="5"
                                      data-msg-required="É necessário preencher o campo Motivação para participar do programa.">
                            </textarea>
                        {{signupForm.coordenador.motivation|wordcount:false:'motivation'}}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <member></member>
            </fieldset>

            <fieldset class="form-horizontal" role="form">
                <instituicao></instituicao>
            </fieldset>
            <fieldset>

                <!-- FASE 4 - RESURSOS ECONÔMICOS APRESENTADOS COMO CONTRAPARTIDA -->
                <h2 class="titulo-fase">Fase 4 - Recursos econômicos apresentados como contrapartida</h2>

                <!-- CONTRATO DE CONTRAPARTIDA -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="agreeResources">Como contrapartida mínima, a
                        instituição deve oferecer sem qualquer custo para o Programa o espaço físico para o <abbr
                                title="Evento Local do Empreenda. Em Ação!">ELEA</abbr> , segurança no local do <abbr
                                title="Evento Local do Empreenda. Em Ação!">ELEA</abbr> , limpeza do local, energia
                        elétrica e recursos de vídeo e áudio adequados.</label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="agreeResources" id="agreeResources" value="true" required
                                       data-rule-required="true"
                                       data-msg-required="É necessário aceitar o campo Recursos de contrapartida">
                                Sim, concordo e confirmo a contrapartida citada.
                            </label>
                        </div>
                    </div>
                </div>

                <!-- IDENTIFICAÇÂO DO LOCAL -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="identification">Identificação do local de
                        realização do Evento Local do Empreenda. Em Ação! (<abbr
                                title="Evento Local do Empreenda. Em Ação!">ELEA</abbr>)</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.host_institutions.identification" id="identification"
                               name="identification" type="text" placeholder="" class="form-control input-md" required
                               data-rule-required="true"
                               data-msg-required="É necessário aceitar o campo Identificação do local">
                    </div>
                </div>

                <!-- NOME DO ESPAÇO -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="name">Nome do espaço</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.host_institutions.name" id="name_local" name="nameLocal" type="text"
                               placeholder="Auditório, Teatro, etc. ..." class="form-control input-md" required
                               data-rule-required="true"
                               data-msg-required="É necessário aceitar o campo Nome do espaço">
                    </div>
                </div>

                <!-- ENDEREÇO COMPLETO -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="address">Endereço completo</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.host_institutions.address" id="address_local" name="addressLocal"
                               type="text" class="form-control input-md"
                               placeholder="Ex. Rua Antônio Gomes Silva, nº 415" required
                               data-rule-required="true"
                               data-msg-required="É necessário aceitar o campo Endereço completo">
                    </div>
                </div>

                <!-- CAPACIDADE MÁXIMA -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="maximum_capacity">Capacidade máxima</label>
                    <div class="col-md-6 col-sm-6">
                        <input ng-model="signupForm.host_institutions.maximum_capacity" id="maximum_capacity"
                               name="maximum_capacity" type="number" class="form-control input-md"
                               placeholder="Somente números" required
                               mask="99999"
                               data-rule-required="true"
                               data-msg-required="É necessário aceitar o campo Capacidade máxima">
                    </div>
                </div>

                <!-- OUTROS RECURSOS -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="optional_features">Outros recusrsos como
                        contrapartida econômicos para o ELEA</label>
                    <div class="col-md-4">
                        <div class="checkbox">
                            <label>
                                <input ng-model="signupForm.host_institutions.optional_features" type="checkbox"
                                       name="optional_features" id="optional_features" value="internet">
                                Internet
                            </label>
                        </div>
                    </div>
                </div>

                <others-features></others-features>
            </fieldset>

            <fieldset>

                <!-- Form Name -->
                <h2>Fase 5 -Plando de divulgação do <abbr title="Programa Empreenda. Em Ação!">PEA</abbr></h2>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-4 col-sm-3 control-label" for="disseminationPlan">Plano de divulgação do <abbr
                            title="Programa Empreenda. Em Ação!">PEA</abbr> para a comunidade interna e externa à <abbr
                            title="Instituições de Ensino Superior">IES</abbr>, incluindo canais e número de inserções
                        em cada canal.</label>
                    <div class="col-md-6 col-sm-6">
						<textarea ng-model="signupForm.coordenador.disseminationPlan" class="form-control"
                                  id="disseminationPlan" maxlength="4000" name="disseminationPlan" required
                                  data-rule-required="true" rows="5"
                                  data-msg-required="É necessário preencher o campo do Plano de divulgação">
                        </textarea>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        {{signupForm.coordenador.disseminationPlan|wordcount:false:'disseminationPlan'}}
                    </div>
                </div>

            </fieldset>
            <fieldset>
                <financial-resources></financial-resources>
            </fieldset>
        </form>
    </div>
</div>
<div class="preloader" style="display: none;">
    <div class="status" style="text-align:center;">
        <strong>Enviando...</strong>
    </div>
</div>
<!-- <pre> {{signupForm | json}} -->