<h2 class="titulo-fase">Fase 3 - Proposta institucional</h2>

<!-- Select Basic -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="proposal">Tipo de proposta</label>
    <div class="col-md-6 col-sm-6">
        <select id="proposal" ng-model="instituicao.proposal" name="proposal" class="form-control input-md">

            <option value="1">Individual</option>
            <option value="2">Conjunto em diferentes IES</option>
            <option value="3">Conjunto em diferentes Campi</option>
        </select>
    </div>
</div>

<!--<legend ng-if="instituicao.proposal==1">Instituição</legend>-->
<!--<legend ng-if="instituicao.proposal==3">Instituição</legend>-->
<!--<legend ng-if="instituicao.proposal==2">Campus</legend>-->

<!-- NOME DA INSTITUIÇÃO -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="instituicao_name">Nome da IES</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="instituicao.name" id="instituicao_name" name="instituicao_name" type="text"
               placeholder="Ex. Pedro Lucas Pereira Gomes" class="form-control input-md" required
               data-rule-required="true" data-msg-required="É necessário preencher o Nome da IES.">
    </div>
</div>
<br>

<!-- CNPJ DA INSTITUIÇÃO -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="cnpj_instituicao">CNPJ</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="instituicao.cnpj" id="cnpj_instituicao" name="cnpj_instituicao" type="number"
               placeholder="Apenas números" class="form-control input-md" required data-rule-required="true"
               data-msg-required="É necessário aceitar o campo CNPJ.">
    </div>
</div>
<br>

<!-- ENDEREÇO COMPLETO -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="instituicao_address">Endereço completo</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="instituicao.address" id="instituicao_address" name="instituicao_address" type="text"
               placeholder="Ex. Rua Antônio Gomes Silva, nº 415" class="form-control input-md" required
               data-rule-required="true" data-msg-required="É necessário preencher o campo Endereço completo.">
    </div>
</div>
<br>

<!-- EMAIL -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="instituicao_email">E-mail</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="instituicao.email" id="instituicao_email" name="instituicao_email" type="email"
               placeholder="Ex. pedrolucas@contato.com" class="form-control input-md" required data-rule-required="true"
               data-msg-required="É necessário preencher o campo E-mail." data-rule-email="true"
               data-msg-email="Formato de E-mail inválido.">
    </div>
</div>
<br>

<!-- TELEFONE -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="instituicao_phone">Telefone</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="instituicao.phone" id="instituicao_phone" name="instituicao_phone" type="number"
               placeholder="Apenas números" class="form-control input-md" required data-rule-required="true"
               data-msg-required="É necessário preencher o campo Telefone.">
    </div>
</div>
<br>

<!-- NOME DO RESPRESENTANTE LEGAL -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="instituicao_responsible">Nome do representante legal</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="instituicao.responsible" id="instituicao_responsible" name="instituicao_responsible"
               type="text" placeholder="" class="form-control input-md" required data-rule-required="true"
               data-msg-required="É necessário preencher o campo Nome do representante legal.">
    </div>
</div>
<br>

<!-- CONTATO DO REPRESENTANTE LEGAL -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="phone_responsible">Contato do representante legal</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="instituicao.phone_responsible" id="phone_responsible" name="phone_responsible" type="number"
               placeholder="" class="form-control input-md" required data-rule-required="true"
               data-msg-required="É necessário preencher o campo de Contato do representante legal.">
    </div>
</div>
<br>

<!-- TERMO DE COMPROMISSO -->
<div class="form-group" ng-init="term=true" ng-show="term">
    <label class="col-md-4 col-sm-3 control-label" for="term_appointment">Termo de compromisso</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="instituicao.term_appointment" id="term_appointment" name="term_appointment" class="input-file"
               type="file" required data-rule-required="true"
               data-msg-required="É necessário anexar o Termo de compromisso">
    </div>
</div>
<br>

<!-- TITULO DE PATCERIAS -->
<h3 class="titulo-fase">Parcerias estabelecidas em ações empreendedoras</h3>

<!-- PARTICIPAÇÕES PASSADAS -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="past_participations">Participações passadas em programas de
        empreendedorismo ou outras experiências na área, incluindo atividades internas na área já realizadas.
    </label>
    <div class="col-md-6 col-sm-6">
        <textarea ng-model="instituicao.past_participations" maxlength='4000' class="form-control" rows="5"
                  id="past_participations" name="past_participations" required data-rule-required="true"
                  data-msg-required="É necessário preencher o campo Participações passadas em programas de empreendedorismo ou outras  experiências na área, incluindo atividades internas na área já realizadas.">
            Nada a declarar...
        </textarea>
        {{instituicao.past_participations|wordcount:false:'past_participations'}}
    </div>
</div>
<br>

<!-- HISTÓRICO DE PARCERIAS -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="instituicao_historic">Histórico de parcerias para ações
        empreendedoras na IES</label>
    <div class="col-md-6 col-sm-6">
        <textarea ng-model="instituicao.partnerships_historic" maxlength="3000" class="form-control" rows="5"
                  id="instituicao_historic" name="instituicao_historic" required data-rule-required="true"
                  data-msg-required="É necessário preencher o campo Histórico de parcerias para ações empreendedoras.">
            Nada a declarar...
        </textarea>
        {{instituicao.partnerships_historic|wordcount:false:'instituicao_historic'}}
    </div>
</div>

<!-- PARCERIAS PARA O PEA -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="partnerships_for_pea">Parcerias estabelecidas especialmente para
        o <abbr title="Programa Empreenda. Em Ação!">PEA</abbr> ou para o <abbr
                title="Evento Local do Empreenda. Em Ação!">ELEA</abbr>
        na <abbr title="Instituição de Ensino Superior">IES</abbr></label>
    <div class="col-md-6 col-sm-6">
        <textarea ng-model="instituicao.partnerships_for_pea" class="form-control" id="partnerships_for_pea" rows="5"
                  maxlength="3000" name="partnerships_for_pea" required data-rule-required="true"
                  data-msg-required="É necessário preencher o campo Parcerias estabelecidas especialmente para o programa Empreenda. Em Ação!.">
            Nada a declarar...
        </textarea>
        {{instituicao.partnerships_for_pea|wordcount:false:'partnerships_for_pea'}}
    </div>
</div>

<!-- PARCERIAS ENTRE IES -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="partnerships_between_institutions">Parcerias entre <abbr
            title="Instituições de Ensino Superior">IESs</abbr> para realizar o <abbr
            title="Evento Local do Empreenda. Em Ação!">ELEA</abbr> conjuntamente</label>
    <div class="col-md-6 col-sm-6">
        <textarea ng-model="instituicao.partnerships_between_institutions" maxlength="3000" class="form-control"
                  id="partnerships_between_institutions" name="partnerships_between_institutions" required
                  data-rule-required="true" rows="5"
                  data-msg-required="É necessário preencher o campo Parcerias entre Instituições de Ensino Superior.">
            Nada a declarar...
        </textarea>
        {{instituicao.partnerships_between_institutions|wordcount:false:'partnerships_between_institutions'}}
    </div>
</div>

<!-- PARCERIAS ENTRE CAMPI -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="partnerships_between_campus">Parceria entre campi diferentes da
        mesma <abbr title="Instituição de Ensino Superior">IES</abbr> para realizar o <abbr
                title="Evento Local do Empreenda. Em Ação!">ELEA</abbr> conjuntamente em um dos campi</label>
    <div class="col-md-6 col-sm-6">
        <textarea ng-model="instituicao.partnerships_between_campus" maxlength="3000" class="form-control" rows="5"
                  id="partnerships_between_campus" name="partnerships_between_campus" required data-rule-required="true"
                  data-msg-required="É necessário preencher o campo Instituição de Ensino Superior.">
            Nada a declarar...
        </textarea>
        {{instituicao.partnerships_between_campus|wordcount:false:'partnerships_between_campus'}}
    </div>
</div>
<br>

<discipline></discipline>

<br>

<!-- BOTÃO DE ADICIONAR NOVA INSTIUIÇÃO/COMPUS -->
<div class="form-group">
    <label class="col-md-6 col-sm-6 control-label" for="addInstituicao" ng-if="instituicao.proposal==2">Adicionar
        Campus</label>
    <label class="col-md-6 col-sm-6 control-label" for="addInstituicao" ng-if="instituicao.proposal==3">Adicionar
        instituição</label>
    <div class="col-md-6 col-sm-6">
        <button ng-if="!edit && instituicao.proposal>1" id="addInstituicao" name="addInstituicao"
                class="btn btn-primary" ng-click="addInstituicao()" onclick="return false;">+ Adicionar
        </button>
        <button ng-if="edit" onclick="return false;" ng-click="saveItem('institution')" class="btn btn-success">
            Alterar
        </button>
    </div>
    <br><br><br><br>


    <div class="card" ng-if="signupForm.instituicao.length > 0">
        <h3 class="card-header">Instituições</h3>
    </div>
    <div class="card w-100" ng-repeat="i in signupForm.instituicao track by $index">
        <div class="card-block">
            <h3 class="card-title">{{i.name}}</h3>
            <p class="card-text">{{i.address}}</p>
            <button ng-click="editItem('institution',i)" onclick="return false;" class="btn btn-warning">Editar</button>
            <button ng-click="removeItem('institution',$index)" onclick="return false;" class="btn btn-danger">Excluir
            </button>
        </div>
    </div>
</div>
