<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="name">Outros</label>
    <div class="col-md-6 col-sm-6">
        <input ng-model="others_features.name" id="name" name="name" type="text" placeholder=""
               class="form-control input-md">

    </div>
</div>

<!-- Button -->
<div class="form-group">
    <label class="col-md-4 col-sm-3 control-label" for="addOthers">Adicionar Outros</label>
    <div class="col-md-4">
        <button id="addOthers" name="addOthers" class="btn btn-primary" ng-click="addOthersFeatures()"
                onclick="return false;">+ Outros
        </button>
    </div>
</div>
